<h2>Posts</h2>
<% if @user.present? %>
  <%= link_to "New post", new_post_path %>
<% end %>
<% for post in @posts do %>
  <p>
    Title: <%= post.title %><br />
    Body: <%= post.body %><br />
    Author: <%= post.user.email %><br />
  </p>
  <%= link_to "View post", post_path(post) %>
  <% if @user.present? && @user.id == post.user_id %>
    <%= link_to "Edit post", edit_post_url(post) %>
  <% end %>
<% end %>
